


<div class="center jumbotron">

  <h1>THE M.A.D. BLOGGER</h1>

</div>

<div>

  <%= link_to image_tag("rounder.gif", alt: "Rails logo"),
            controller: 'articles' %>
</div>

<div>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
