


<div class="center jumbotron">


<h1><%= link_to 'THE M.A.D. BLOGGER', controller: 'articles' %></h1>


  <%= link_to image_tag("rounder.gif", alt: "logo"),
            controller: 'articles' %>

<div id="signup">
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
